{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>Login</h3>
                </div>
                <div class="panel-body">
                    {% if errors %}
                        <div class="alert alert-danger">
                            {{ errors.messageKey }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="POST">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="_username" form="username" class="form-control" value="{{ username }}"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="_password" form="password" class="form-control"/>
                        </div>
                        <a href="{{ absolute_url(path('user_registration')) }}">Don't have an account?</a>
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
